{{- define "title" -}}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            <div class="posts-list">
                {{- range $pages.Pages -}}
                    <div class="posts-list-item">
                        <div class="posts-list-date mono">
                            {{- $.Site.Params.dateFormat | default "2006-01-02" | .Date.Format -}}
                        </div>
                        <div>
                            <div class="posts-list-title">
                                <a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>
                            </div>
                            {{- $excerpt := .Summary | replaceRE `(?s)<h[1-6][^>]*>.*?</h[1-6]>` "" | plainify | htmlUnescape | strings.TrimSpace -}}
                            {{- with $excerpt -}}
                                <div class="posts-list-excerpt">{{ . }}</div>
                            {{- end -}}
                            {{- with .Params.tags -}}
                                <div class="posts-list-tags">
                                    {{- range . -}}
                                        {{- $tag := partialCached "function/path.html" . . | printf "/tags/%v" | $.Site.GetPage -}}
                                        <a class="posts-list-tag mono" href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                                    {{- end -}}
                                </div>
                            {{- end -}}
                        </div>
                    </div>
                {{- end -}}
            </div>
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
